{#=====================================================
  Creature List page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

     <h2>List of Tasks</h2>

    <section id="tasks">

        {% for task in tasks %}

            <div class="tasks">
                <h4>{{ task.priority }} - {{ task.name }}</h4>

                {% if task.complete %}
                    <a href="/task/{{ task.id }}/incomplete">🗹</a>
                {% else %}
                    <a href="/task/{{ task.id }}/complete">☐</a>

                {% endif %}
            
            </div>
            {% if task %}
                    <a href="/task/{{ task.id }}/delete">delete</a>
                {% endif %}

        {% else %}

            <p>No Tasks!</p>

        {% endfor %} 

    </section>

    <h3>Add task</h3>
    <form method="post" action="/task/new">
        <label>

            Name
            <input type="text" name="name" required>

        </label>

        <label>
        
            Priority
            <input type="text" name="priority" required>

        </label>

        <button>Add Task</button>
    
    </form>

{% endblock %}

