{#=====================================================
  Creature List page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>List of Tasks</h2>

    <section id="tasks">

        {% for task in tasks %}

            <div class="tasks">
                <h3>{{ task.name }}</h3>
            </div>

        {% else %}

            <p>No Tasks!</p>

        {% endfor %}

    </section>

{% endblock %}

